.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f9f9f9
}
.style2 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  margin-left: 0;
  margin-top: 26.323529411764707vh;
  width: 100vw;
  height: 3.733528550512445vw;
  z-index: 1
}
.maincontainer0col0 {
  display: flex;
  margin-left: 7.174231332357247vw;
  margin-top: .07320644216691069vw;
  width: 85.65153733528551vw;
  height: 2.562225475841874vw;
  flex-direction: column
}
.style3,
.style4 {
  position: relative;
  display: flex
}
.style3 {
  border-left: .07320644216691069vw solid #e2e2e2;
  border-right: .07320644216691069vw solid #e2e2e2;
  border-top: .07320644216691069vw solid #e2e2e2;
  border-bottom: .07320644216691069vw solid #e2e2e2;
  margin-left: 0;
  margin-top: 0;
  background-color: #fbfbfb;
  width: 85.65153733528551vw;
  height: .07320644216691069vw;
  z-index: 2
}
.style4 {
  background-color: #ff8e0a;
  width: 19.765739385065885vw;
  height: 3.6603221083455346vw;
  z-index: 3;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.maincontainer0col0container1container2row0 {
  display: flex;
  margin-left: 1.4641288433382138vw;
  margin-top: 1.0248901903367496vw;
  width: 10.468521229868228vw;
  height: 1.5373352855051245vw;
  align-items: flex-end
}
.style15 {
  display: flex;
  margin-left: 0;
  width: 1.7569546120058566vw;
  height: 1.2186198423058885vw;
  z-index: 14;
  align-self: flex-end;
  flex-direction: column
}
.style17 {
  margin-top: 0;
  width: 1.3177159590043923vw;
  height: .1419424836143393vw;
  z-index: 16
}
.style16,
.style18 {
  margin-top: .39639675425226484vw;
  width: 1.7569546120058566vw;
  height: .1419424836143393vw;
  z-index: 15
}
.style18 {
  width: .8784773060029283vw;
  z-index: 17
}
.style7 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  margin-left: 1.4641288433382138vw;
  z-index: 6
}
.maincontainer0col0row1 {
  display: flex;
  margin-left: 21.961932650073205vw;
  margin-top: .9516837481698389vw;
  width: 57.5402635431918vw;
  height: 1.5373352855051245vw;
  justify-content: space-between
}
.style5 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  z-index: 4
}
.style10,
.style11,
.style12,
.style13,
.style14,
.style19,
.style6,
.style8,
.style9 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  z-index: 5
}
.style10,
.style11,
.style12,
.style13,
.style14,
.style19,
.style8,
.style9 {
  z-index: 7
}
.style10,
.style11,
.style12,
.style13,
.style14,
.style19,
.style9 {
  z-index: 8
}
.style10,
.style11,
.style12,
.style13,
.style14,
.style19 {
  z-index: 9
}
.style11,
.style12,
.style13,
.style14,
.style19 {
  z-index: 10
}
.style12,
.style13,
.style14,
.style19 {
  z-index: 11
}
.style13,
.style14,
.style19 {
  z-index: 12
}
.style14,
.style19 {
  z-index: 13
}
.style19 {
  z-index: 18
}
.style1 {
  background-image: url(https://designresources.assets.yotako.io/80syc568ymkcqeaafj.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  display: flex;
  margin-left: 0;
  width: 100vw;
  height: 35.13909224011713vw;
  z-index: 0
}
.mainimage0col0,
.style20 {
  margin-top: 0;
  width: 21.083455344070277vw
}
.mainimage0col0 {
  display: flex;
  margin-left: 7.174231332357247vw;
  height: 35.13909224011713vw;
  flex-direction: column
}
.style20 {
  display: grid;
  grid-gap: -2.6354319180087846vw
}
.style21 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 20;
  align-items: center
}
.style22 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 21;
  align-self: center
}
.style23,
.style24 {
  height: .7320644216691069vw
}
.style23 {
  display: flex;
  margin-left: 9.077598828696924vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 22
}
.style24 {
  width: .3702825543472044vw;
  z-index: 23
}
.style25 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 24;
  align-items: center
}
.style26 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 25;
  align-self: center
}
.style27,
.style28 {
  height: .7320644216691069vw
}
.style27 {
  display: flex;
  margin-left: 12.81112737920937vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 26
}
.style28 {
  width: .3702825543472044vw;
  z-index: 27
}
.style29 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 28;
  align-items: center
}
.style30 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 29;
  align-self: center
}
.style31,
.style32 {
  height: .7320644216691069vw
}
.style31 {
  display: flex;
  margin-left: 9.66325036603221vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 30
}
.style32 {
  width: .3702825543472044vw;
  z-index: 31
}
.style33 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 32;
  align-items: center
}
.style34 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 33;
  align-self: center
}
.style35,
.style36 {
  height: .7320644216691069vw
}
.style35 {
  display: flex;
  margin-left: 10.102489019033674vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 34
}
.style36 {
  width: .3702825543472044vw;
  z-index: 35
}
.style37 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 36;
  align-items: center
}
.style38 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 37;
  align-self: center
}
.style39,
.style40 {
  height: .7320644216691069vw
}
.style39 {
  display: flex;
  margin-left: 3.513909224011713vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 38
}
.style40 {
  width: .3702825543472044vw;
  z-index: 39
}
.style41 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 40;
  align-items: center
}
.style42 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 41;
  align-self: center
}
.style43,
.style44 {
  height: .7320644216691069vw
}
.style43 {
  display: flex;
  margin-left: 8.49194729136164vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 42
}
.style44 {
  width: .3702825543472044vw;
  z-index: 43
}
.style45 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 44;
  align-items: center
}
.style46 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 45;
  align-self: center
}
.style47,
.style48 {
  height: .7320644216691069vw
}
.style47 {
  display: flex;
  margin-left: 9.150805270863836vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 46
}
.style48 {
  width: .3702825543472044vw;
  z-index: 47
}
.style49 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 48;
  align-items: center
}
.style50 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 49;
  align-self: center
}
.style51,
.style52 {
  height: .7320644216691069vw
}
.style51 {
  display: flex;
  margin-left: 8.418740849194728vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 50
}
.style52 {
  width: .3702825543472044vw;
  z-index: 51
}
.style53 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 52;
  align-items: center
}
.style54 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 53;
  align-self: center
}
.style55,
.style56 {
  height: .7320644216691069vw
}
.style55 {
  display: flex;
  margin-left: 6.954612005856515vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 54
}
.style56 {
  width: .3702825543472044vw;
  z-index: 55
}
.style57 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 56;
  align-items: center
}
.style58 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 57;
  align-self: center
}
.style59,
.style60 {
  height: .7320644216691069vw
}
.style59 {
  display: flex;
  margin-left: 11.273792093704246vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 58
}
.style60 {
  width: .3702825543472044vw;
  z-index: 59
}
.style61 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  display: flex;
  z-index: 60;
  align-items: center
}
.style62 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 61;
  align-self: center
}
.style63,
.style64 {
  height: .7320644216691069vw
}
.style63 {
  display: flex;
  margin-left: 10.395314787701318vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 62
}
.style64 {
  width: .3702825543472044vw;
  z-index: 63
}
.style65 {
  background-color: #fbfbfb;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10196078431372549);
  position: relative;
  display: flex;
  margin-top: -1.610541727672035vw;
  width: 19.765739385065885vw;
  height: 2.9282576866764276vw;
  z-index: 64;
  align-items: center
}
.style66 {
  color: #646464;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  margin-left: 1.4641288433382138vw;
  z-index: 65;
  align-self: center
}
.style67,
.style68 {
  height: .7320644216691069vw
}
.style67 {
  display: flex;
  margin-left: 9.150805270863836vw;
  align-self: center;
  flex-direction: column;
  width: .3702836713888635vw;
  z-index: 66
}
.style68 {
  width: .3702825543472044vw;
  z-index: 67
}
.style86,
.style87 {
  display: flex;
  width: 2.342606149341142vw;
  height: 3.6603221083455346vw
}
.style86 {
  margin-left: .8784773060029283vw;
  margin-top: 15.739385065885799vw;
  flex-direction: column;
  z-index: 85
}
.style87 {
  background-color: #e1e1e1;
  z-index: 86;
  align-items: center;
  justify-content: center
}
.style88 {
  width: .5183955760860862vw;
  height: 1.0248901903367496vw;
  z-index: 87
}
.style69 {
  background-image: url(https://designresources.assets.yotako.io/80syc568ymkcqeaevf.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 41.434846266471446vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 68;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style70 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 69
}
.style71 {
  background-color: #e1e1e1;
  display: flex;
  margin-left: .5856515373352855vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 70;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style72 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 71
}
.style73 {
  background-image: url(https://designresources.assets.yotako.io/80syc568ymkcqeaf3s.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: .5856515373352855vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 72;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style74 {
  color: #fff;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 73
}
.style75 {
  background-color: #e1e1e1;
  display: flex;
  margin-left: .5856515373352855vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 74;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style76 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 75
}
.style77 {
  background-color: #e1e1e1;
  display: flex;
  margin-left: .5856515373352855vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 76;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style78 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 77
}
.style79 {
  background-color: #e1e1e1;
  display: flex;
  margin-left: .5856515373352855vw;
  margin-top: 30.60029282576867vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 78;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style80 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 79
}
.mainimage0col8,
.style83,
.style84 {
  display: flex;
  width: 2.342606149341142vw
}
.mainimage0col8 {
  margin-left: .5856515373352855vw;
  margin-top: 15.739385065885799vw;
  flex-direction: column;
  height: 17.20351390922401vw
}
.style83,
.style84 {
  height: 3.6603221083455346vw
}
.style83 {
  margin-top: 0;
  z-index: 82
}
.style84 {
  background-color: #e1e1e1;
  z-index: 83;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style85 {
  width: .5183966931277453vw;
  height: 1.0248901903367496vw;
  z-index: 84
}
.style81 {
  background-color: #e1e1e1;
  display: flex;
  margin-top: 11.200585651537335vw;
  width: 2.342606149341142vw;
  height: 2.342606149341142vw;
  z-index: 80;
  align-items: center;
  justify-content: center
}
.style82 {
  color: #303030;
  text-align: center;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 81
}
.breakpoint-0 {
  display: block
}